.AddUserForm {
    float: right;
    margin-top: 12%;
    margin-right: 30%;
    width: 30%;
    padding: 3%;
}
.AddUserFormBody {
    border-style: solid;
    border-color: purple;
    padding: 15%;
}
.buttonsRight {
    float: right;
}