.Main {
    float: left;
    border-radius: 25px;
    margin-top: 5%;
    margin-left: 5%;
    border-style: ridge;
    width: 25%;
    padding: 1%;
  }
.addUser{
  float: right;
    margin-right: 4%;
    margin-top: 2%;
    background-color: orange;
}
.Info {
  margin-top: 5%;
  margin-right: 5%;
  border-style: ridge;
  width: 50%;
}
.Search{
  margin-top: 2%;
  margin-left: 4%;
}