.Todos {
    float: right;
    margin-top: 5%;
    margin-right: 30%;
    width: 30%;
    padding: 1%;
    overflow-y: scroll;
    height:400px;
}
.TodoAdd {
    float: right;
    margin-top: -2%;
    padding: 1%;
    background-color: tomato;
}