.User {
    border-style: solid;
    border-color: green;
    width: 90%;
    text-align: left;
    padding: 1%;
}
.unUser {
    border-style: solid;
    border: 1;
    border-color: red;
    width: 90%;
    text-align: left;  
    padding: 1%;
}
.Update {
    margin-left: 10%;
    background-color: orange;
}
.Delete{
    background-color: orange;
}
.otherData {
    border-style: solid;
    background-color: rgb(184, 179, 179);
    border-width: 1px ;
    margin: 2%;
    border-spacing: 2%;
}